<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>BHOOKH</title>
<link rel="stylesheet" type="text/css" href="waste food.css" media="screen"/>

</head>
  
  
<body>
<div id="bottom">
<h1 id="header" align="center" >FIGHT &nbsp; F<img src="apple-icon-72x72.png" height="25" width="30" style="background-position:bottom"/>R&nbsp; F<img src="apple-icon-72x72.png" height="25" width="30" style="background-position:bottom"/> <img src="apple-icon-72x72.png" height="25" width="30"/>D</h1
>
  </div>

<div  align="center">
<ul id="list" >
<li id="element"><a href=""><b>GALLERY </b></a></li>
<li id="element"><a href=""><b>REWARDS </b></a></li>
<li id="element"><a href=""><b>CONTECT</b></a></li>

<li id="element"><a href="https://docs.google.com/forms/d/e/1FAIpQLScNLCLUneZL7Ovi0KXRGOp5E2JeOBjljDLIAkUU4xeHrc5dGw/viewform?embedded=true">JOIN US </b></a>
</li>
<li id="element"><a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vTJ7zX_ZKgA1bxtMInt3QYZ7wMw5eywm_qBXiZ8GQu2TLgRSQkUBmAQAG-tZVHo9bGvnNf8weCwY9l3/pubhtml?widget=true&amp;headers=false"><b>HRLPER</b></a></li>

<li id="element"><a href=""><b>ABOUT US</b></a></li>

</ul>
</div>
<br />
<br />
<br />
<br />
<br />
<hr /> 

<h2 style="text-align:center">“There are people in the world so hungry,that God cannot appear to them except in the form of bread.”<br />- Mahatma Gandhi.<br /><br />
<h2 style="text-align:center">“Find out how much God has given you and from it take what you need; the remainder is needed by others.”<br />- Saint Augustine</h2>
<hr />

<br />
<br />

<div class="slideshow-container">

<div class="mySlides fade">
  <div class="numbertext">1 / 5</div>
  <img src="children_2-330581_96.jpg" style="width:100%" height="340">
  <div class="text">Caption Text</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">2 / 5</div>
  <img src="children-food.jpg" style="width:100%" height="340">
  <div class="text">Caption Two</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">3 / 5</div>
  <img src="haiti.jpg" style="width:100%" height="340">
  <div class="text">Caption Two</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">4 / 5</div>
  <img src="local_feeding-india-2.jpg" style="width:100%" height="340">
  <div class="text">Caption Two</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">5 / 5</div>
  <img src="mid_day_mil.jpg" style="width:100%" height="340">
  <div class="text">Caption Two</div>
</div>


<div class="mySlides fade">
  <div class="numbertext">3 / 3</div>
  <img src="child-330394_.jpg" style="width:100%" height="340">
  <div class="text">Caption Three</div>
</div>

<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
</div>

<br />
<hr />
<br />
<h1 style="size:+5" style="color:#990033">Excessive Food listing portal <br />for food wastage.</h1>

<div id="name">
<br />
<h2 style="text-align:center">“Cutting food waste is a delicious way of saving money, helping to feed the world and protect the planet.”<br />- Tristram Stuart.<br /><br /> 
<h2 style="text-align:center">“There are genuinely sufficient resources in the world to ensure that no one, nowhere, at no time, should go hungry.”<br />- Ed Asner<br /><br />


<img src="c_hunger-1.jpg" height="220" width="350" />
<p><h1>What is wastage of Food?</h1>
<h3><b>This topic is not unknown to everyone. One or in the other form we all are responsible for this situation of our society. Except few people who work for the welfare and campaign against the wastage of food, majority are involved in this vulnerable activity.
The amount of food which is discarded or left by us that goes to the dustbin or to the garbage is known as waste food and this process is known as wasting of food.
BFCN (Barilla Center for Food and Nutrition) defines food waste as the waste or food losses that occur during industrial processing, distribution, and consumption.</b></h3></p>
<br />
</div>
<div id="name2">
<img src="image.jpeg" height="220" width="350"/>
<p><h1>Consequences of wasting of food: -</h1>
<h3><p>There are numerous situations that arise due to the wasting of food.These are as follows-</p>
<p>• One of the top contributors to food wastage is because of a lack of appropriate planning on the consumer part.<br /> This causes the loss of Biodiversity at a global level.</p>
<p>• The environment become dirty as cooked or roasted food spoils the nature of the soil and spreads pungent and stinky smell.</p><br />
<img src="image (1).jpeg" height="220" width="450" style="float:right" /><br />
<p>• Underprivileged people are prone to these waste foods, which becomes dirty due to interaction of different kinds of bacteria<br /> and animals resulting into the threat to their health physically as well as mentally.</p>
<p>• By wasting food, we harm our natural resources as not respecting the food which we are eating and annihilating other<br /> resources as well.</p>
<p>• The food produced and then later goes to waste is estimated to be equivalent to 3.3 billion tons of greenhouse gas emission,<br /> accelerating the impacts of climate change.</p>

</h3></p>
</div>

<br />
<br />

</div>

</div>
</div>
<br />
<br />
<br />
<footer>

<div class="welcom">
<h3 align="center">ARE YOU NEW ON THE CHANNEL?</h3>
<a href="" class="btn"> Like Video</a>
<a href="" class="btn">Subscribe</a>
<hr />
</div>


<div class="below">
<h3 style="text-align:center">ROYAL CODER<br /></h3>
<h5 style="text-align:center">© All Rights Are Reserved By Royal Coders</h5>
</div>
</footer>
</body>
</html>

